<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Component Id="ProtocolRegistration" Guid="*" Directory="INSTALLDIR">
      <!-- Register armgddn:// protocol -->
      <RegistryKey Root="HKCR" Key="armgddn">
        <RegistryValue Type="string" Value="URL:ARMGDDN Protocol" />
        <RegistryValue Type="string" Name="URL Protocol" Value="" />
      </RegistryKey>
      
      <RegistryKey Root="HKCR" Key="armgddn\DefaultIcon">
        <RegistryValue Type="string" Value="[INSTALLDIR]ARMGDDN Downloader.exe,0" />
      </RegistryKey>
      
      <RegistryKey Root="HKCR" Key="armgddn\shell\open\command">
        <RegistryValue Type="string" Value="&quot;[INSTALLDIR]ARMGDDN Downloader.exe&quot; &quot;%1&quot;" />
      </RegistryKey>
    </Component>
  </Fragment>
</Wix>
